# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/impostorgame/node_modules
/impostorserver/node_modules

# envs
/impostorgame/env
/impostorserver/env